In [3]:
a = [11,22,33,44]

In [4]:
a

[11, 22, 33, 44]

In [5]:
b = ['apple','mango','banana']

In [7]:
b

['apple', 'mango', 'banana']

In [17]:
basket = ['apple',150,'cherry',300,'mango',200]

In [18]:
basket

['apple', 150, 'cherry', 300, 'mango', 200]

In [19]:
type(basket)

list

In [20]:
siblings = [['ahmed',12],['sara',18],['bilal',24]]

In [21]:
siblings

[['ahmed', 12], ['sara', 18], ['bilal', 24]]

In [24]:
basket[3:6]

[300, 'mango', 200]

In [25]:
i = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
i[:]

In [26]:
i[0::2]

[1, 3, 5, 7, 9]

In [30]:
i[1::2]

[2, 4, 6, 8, 10]

In [31]:
i[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
i[0::2]

[1, 3, 5, 7, 9]

In [33]:
i[1::2]

[2, 4, 6, 8, 10]

In [34]:
vowels = [['a',100],['e',200],['i',300],['o',400],['u',500]]

In [35]:
vowels

[['a', 100], ['e', 200], ['i', 300], ['o', 400], ['u', 500]]

In [36]:
vowels[0]

['a', 100]

In [37]:
vowels

[['a', 100], ['e', 200], ['i', 300], ['o', 400], ['u', 500]]

In [38]:
basket

['apple', 150, 'cherry', 300, 'mango', 200]

In [39]:
basket[0] = 'orange'

In [40]:
basket

['orange', 150, 'cherry', 300, 'mango', 200]

In [41]:
basket[0:2] = ['grape_fruit',300]

In [42]:
basket

['grape_fruit', 300, 'cherry', 300, 'mango', 200]

In [43]:
basket + ['pineapple',500]

['grape_fruit', 300, 'cherry', 300, 'mango', 200, 'pineapple', 500]

In [44]:
basket

['grape_fruit', 300, 'cherry', 300, 'mango', 200]

In [45]:
basket = basket + ['pineapple',500]

In [46]:
basket

['grape_fruit', 300, 'cherry', 300, 'mango', 200, 'pineapple', 500]

In [47]:
del(basket[-1])

In [48]:
basket

['grape_fruit', 300, 'cherry', 300, 'mango', 200, 'pineapple']

In [54]:
list(range(0,20,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [56]:
list(range(0,101,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [63]:
list(range(1, 101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [64]:
list(range(1, 101,3))

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100]

In [69]:
opp = ['a','b','c','d','e']

In [70]:
opp

['a', 'b', 'c', 'd', 'e']

In [73]:
r2 = [['a',4],['b',10]]

#siblings = [['ahmed',12],['sara',18],['bilal',24]]

In [74]:
r2

[['a', 4], ['b', 10]]

TypeError: 'str' object cannot be interpreted as an integer