In [3]:
var1 = 200
var2 = 400

print(var1 > var2)
print(var1 < var2)
print(var1 >= var2)
print(var1 <= var2)
print(var1 == var2)
print(var1 != var2)

False
True
False
True
False
True

In [4]:
val1 = 'NED'
val2 = 'ned'

print(val1 == val2)

False

In [5]:
a = True
b = False
print(a != b)

True

In [6]:
x = 1
y = 0

print(x and y)
print(x or y)
print(not x)

0
1
False

In [7]:
import numpy as np

house1 = np.array([12, 16, 22, 28])
house2 = np.array([8, 24, 22, 20])

print(house1 > house2) # comparing array vs array 
print(' ')
n = 20
print(house1 > n) # comparing array vs single element

[ True False False  True]

[False False  True  True]

In [8]:
house1 = np.array([12, 16, 22, 28])
x = house1 < 20
y = house1[x]
print(y)

[12 16]

In [9]:
a = True
b = False
a and b

False

In [10]:
x = np.array([True, False, True, True])
y = np.array([True, True, True, False])
# print(x and y) 
print(np.logical_and(x,y))
print(np.logical_or(x,y))
print(np.logical_not(x))

[ True False  True False]
[ True  True  True  True]
[False  True False False]

In [11]:
var1 = 100
if (var1 > 100):
    print('fine')
elif (var1 == 100):
    print('exact')
else:
    print('not fine')

exact

In [12]:
var = np.array([[1,2],[3,4],[5,6,7]])

In [13]:
var

array([list([1, 2]), list([3, 4]), list([5, 6, 7])], dtype=object)

In [14]:
var[0]

[1, 2]

In [15]:
var[0][1]

2

In [16]:
import pandas as pd
Table = pd.read_csv('NAVTTC_2.1_Data.csv')
print(Table)

  Unnamed: 0      country    capital    area  population
0         PK     pakistan  islamabad     789      456789
1         AU   austrailia     sydney     456      123456
2         IN        india  new delhi    6789      789789
3         CH        china    beijing  456456     7891011
4         AG  afghanistan      kabul     123      123123

In [17]:
Table = pd.read_csv('NAVTTC_2.1_Data.csv', index_col = 0)
print(Table)

        country    capital    area  population
PK     pakistan  islamabad     789      456789
AU   austrailia     sydney     456      123456
IN        india  new delhi    6789      789789
CH        china    beijing  456456     7891011
AG  afghanistan      kabul     123      123123

In [18]:
print(Table.shape)

(5, 4)

In [19]:
Table['capital']

PK    islamabad
AU       sydney
IN    new delhi
CH      beijing
AG        kabul
Name: capital, dtype: object

In [20]:
Table.loc['CH']

country         china
capital       beijing
area           456456
population    7891011
Name: CH, dtype: object

In [21]:
a = Table.iloc[3]

In [22]:
type(a)

pandas.core.series.Series

In [26]:
a = Table['area'] > 1000
print(a)

PK    False
AU    False
IN     True
CH     True
AG    False
Name: area, dtype: bool

In [27]:
print(Table[a])

   country    capital    area  population
IN   india  new delhi    6789      789789
CH   china    beijing  456456     7891011

In [28]:
Table.columns

Index(['country', 'capital', 'area', 'population'], dtype='object')

In [29]:
Table.index

Index(['PK', 'AU', 'IN', 'CH', 'AG'], dtype='object')