In [1]:
round(1.68,1)

1.7

In [2]:
fam = [1.73,1.68,1.71, 1.84]
fam

[1.73, 1.68, 1.71, 1.84]

In [3]:
max(fam)

1.84

In [5]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [15]:
round(1.6765,3)

1.677

In [21]:
#Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

#Print out type of var1
print(type(var1))

#Print out length of var1
print(len(var1))

#Convert var2 to an integer: out2
out2 = int(var2)
print(out2)

print(type(out2))

<class 'list'>
4
1
<class 'int'>

In [22]:
def add(a,b):
    return a+b
print(add(1,2))

3

In [30]:
a=9.81
int(a)

9

In [31]:
round(9.76)

10

In [34]:
list("abcdef")

['a', 'b', 'c', 'd', 'e', 'f']

In [35]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [45]:
a[2:]

[3, 4, 5]

In [46]:
a[:3]

[1, 2, 3]

In [47]:
a[1:2]

[2]

In [48]:
a[2:-1]

[3, 4]

In [50]:
a[-5:-2]

[1, 2, 3]

In [52]:
a[-2:-3]

[]

In [55]:
a[1:5:2]

[2, 4]

In [58]:
a[-4:-1:2]

[2, 4]

In [63]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
list(range(1,-9))

[]

In [70]:
list(range(-1,9))

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [77]:
list(range(-1,-9))

[]

In [78]:
list(range(8,1))

[]

In [74]:
list(range(1,8,2))

[1, 3, 5, 7]

In [75]:
list(range(1,8,-2))

[]

In [76]:
list(range(8,1,-2))

[8, 6, 4, 2]

In [115]:
l = [1,'lk']
l

[1, 'lk']

In [82]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [91]:
l = [1,2,3,4,5,6]
for i in l[:]:
    print(i*2)

2
4
6
8
10
12

In [96]:
k = [[1,2],[5,4],[9,8]]
for i in k:
    print(i)

[1, 2]
[5, 4]
[9, 8]

In [99]:
l.pop()

6

In [108]:
l.insert(1,9)
l

[1, 9, 2, 3, 4, 5, 1, 1]

In [114]:
#Create lists firs and second
first = [11.25,10.0,20.0]
second = [10.75, 90.50]

#concatenate
full = first + second

#sort in descending order
full_sorted = sorted(full, reverse=True)

print(full_sorted)
help(sorted)

[90.5, 20.0, 11.25, 10.75, 10.0]
Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [116]:
sister = "sara"
sister.capitalize()

'Sara'

In [119]:
sister.replace("sara","jameela")

'jameela'

In [122]:
place = "poolhouse"
place_up = place.upper()
print(place_up)
print(place.count("o"))

POOLHOUSE
3

In [123]:
areas = [11.25,10.0, 20.0, 10.75, 9.50]

print(areas.index(20.0))

print(areas.count(9.50))

grades = ['A','A','B','C','A','A','A','F']
print(grades.count('A'))

2
1
5

In [124]:
areas.append(24.5)
areas.reverse()

In [125]:
areas

[24.5, 9.5, 10.75, 20.0, 10.0, 11.25]

In [129]:
import math

r= 0.43

c = 2*math.pi*r

a=math.pi*r**2

print("circumference = "+str(c))
print("area = ",a)

circumference = 2.701769682087222
area =  0.5808804816487527

In [134]:
import numpy as np
print(np.mean(areas))

14.333333333333334

In [136]:
from numpy import array

fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]

np.array(fam)

array(['liz', '1.73', 'emma', '1.68', 'mom', '1.71', 'dad', '1.89'],
      dtype='<U4')

In [138]:
from math import radians
phi = radians(12)
dist = r * phi
print(dist)

0.09005898940290741