In [78]:
import pandas as pd
sales = pd.read_csv("sales_subset.csv")
print(sales.head())
print(sales.size)
print(sales.info())
print(sales['weekly_sales'].mean())
print(sales['weekly_sales'].median())
sales_C = sales[sales['type'] == 'C']['weekly_sales'].sum()
print(sales_C)

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808
107740
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB
None
23843.950148505668
12049.064999999999
0.0

In [10]:
import pandas as pd
sales = pd.read_csv("sales_subset.csv")
print(sales.head())
# print(sales.size)
# print(sales.info())
print(sales[['weekly_sales','temperature_c']].mean())
print(sales[['weekly_sales','temperature_c']].median()) #for 2 columns

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808
weekly_sales     23843.950149
temperature_c       15.731978
dtype: float64
weekly_sales     12049.065000
temperature_c       16.966667
dtype: float64

In [12]:
print(sales['date'].max())
print(sales['date'].min()) #pandas recognizes date as a data type

2012-10-26
2010-02-05

In [13]:
#Custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

print(sales['temperature_c'].agg(iqr)) # agg used for multiple columns or multiple functions

16.58333333333334

In [15]:
print(sales[['temperature_c','fuel_price_usd_per_l','unemployment']].agg(iqr)) 
# multiple columns given. Arguments are taken from columns to iqr() function

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [21]:
import numpy as np
print(sales[['temperature_c','fuel_price_usd_per_l','unemployment']].agg([iqr,np.median])) 
#use np.median for multiple columns, NOT median of pandas which takes single column
# multiple functions are given as list

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

In [25]:
store_types = sales.drop_duplicates(subset=['store','type']) # it checks simultaneously the combination of store and tyep which are same
print(store_types.head())

      Unnamed: 0  store type  department        date  weekly_sales  \
0              0      1    A           1  2010-02-05      24924.50
901          901      2    A           1  2010-02-05      35034.06
1798        1798      4    A           1  2010-02-05      38724.42
2699        2699      6    A           1  2010-02-05      25619.00
3593        3593     10    B           1  2010-02-05      40212.84

      is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
0          False       5.727778              0.679451         8.106
901        False       4.550000              0.679451         8.324
1798       False       6.533333              0.686319         8.623
2699       False       4.683333              0.679451         7.259
3593       False      12.411111              0.782478         9.765

In [26]:
store_depts = sales.drop_duplicates(subset=['store','department'])
print(store_depts.head())

    Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0            0      1    A           1  2010-02-05      24924.50       False
12          12      1    A           2  2010-02-05      50605.27       False
24          24      1    A           3  2010-02-05      13740.12       False
36          36      1    A           4  2010-02-05      39954.04       False
48          48      1    A           5  2010-02-05      32229.38       False

    temperature_c  fuel_price_usd_per_l  unemployment
0        5.727778              0.679451         8.106
12       5.727778              0.679451         8.106
24       5.727778              0.679451         8.106
36       5.727778              0.679451         8.106
48       5.727778              0.679451         8.106

In [44]:
holiday_dates = sales[sales['is_holiday']].drop_duplicates(subset = 'date') #only gives where is_holiday is True and date is one
print(holiday_dates)

      Unnamed: 0  store type  department        date  weekly_sales  \
498          498      1    A          45  2010-09-10         11.47
691          691      1    A          77  2011-11-25       1431.00
2315        2315      4    A          47  2010-02-12        498.00
6735        6735     19    A          39  2012-09-07         13.41
6810        6810     19    A          47  2010-12-31       -449.00
6815        6815     19    A          47  2012-02-10         15.00
6820        6820     19    A          48  2011-09-09        197.00

      is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
498         True      25.938889              0.677602         7.787
691         True      15.633333              0.854861         7.866
2315        True      -1.755556              0.679715         8.623
6735        True      22.333333              1.076766         8.193
6810        True      -1.861111              0.881278         8.067
6815        True       0.338889              1.010723         7.943
6820        True      20.155556              1.038197         7.806

In [35]:
print(sales['date'].value_counts()) # it shows number of counts

2010-02-05    869
2010-03-05    867
2010-04-02    865
2010-05-07    859
2010-12-03    859
             ...
2012-10-26      1
2012-09-28      1
2012-02-24      1
2011-09-09      1
2011-02-18      1
Name: date, Length: 123, dtype: int64

In [43]:
print(sales.values)

[[0 1 'A' ... 5.727777777777778 0.6794508388787476 8.106]
 [1 1 'A' ... 8.055555555555555 0.6934519642522211 8.106]
 [2 1 'A' ... 16.81666666666667 0.7182841488768721 7.808]
 ...
 [10771 39 'A' ... 27.288888888888888 0.911922354513778 6.989]
 [10772 39 'A' ... 25.644444444444442 0.8601446078496121
  6.622999999999998]
 [10773 39 'A' ... 22.25 0.9555107636953459 6.228]]

In [41]:
store_counts = store_types['type'].value_counts()
store_counts

A    11
B     1
Name: type, dtype: int64

In [83]:
temp_dates = sales[sales['temperature_c']>10].drop_duplicates(subset = 'date') # there will always be condition like in sales[True/False]. Keeps first and drops the rest
temp_dates

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808
5,5,1,A,1,2010-07-02,16333.14,False,27.172222,0.705076,7.787
6,6,1,A,1,2010-08-06,17508.41,False,30.644444,0.693980,7.787
...,...,...,...,...,...,...,...,...,...,...
10111,10111,39,A,19,2011-03-11,7.00,False,14.638889,0.913772,8.395
10112,10112,39,A,19,2011-04-08,-9.97,False,20.805556,0.956832,8.300
10408,10408,39,A,47,2012-06-22,18.00,False,26.577778,0.883920,6.989
10431,10431,39,A,51,2010-12-10,13.24,False,10.450000,0.751041,8.476
10515,10515,39,A,60,2012-01-06,624.80,False,13.238889,0.833992,7.244

In [55]:
temp_dates = sales[sales['temperature_c']>100].drop_duplicates(subset = 'date')
temp_dates

Empty DataFrame
Columns: [Unnamed: 0, store, type, department, date, weekly_sales, is_holiday, temperature_c, fuel_price_usd_per_l, unemployment]
Index: []

In [60]:
store_counts = store_types['type'].value_counts()
print(store_counts)
sales_count = sales['type'].value_counts()
print(sales_count)

A    11
B     1
Name: type, dtype: int64
A    9872
B     902
Name: type, dtype: int64

In [69]:
store_props = store_types['type'].value_counts(normalize=True)
print(store_props)

A    0.916667
B    0.083333
Name: type, dtype: float64

In [65]:
print(store_types)

      Unnamed: 0  store type  department        date  weekly_sales  \
0              0      1    A           1  2010-02-05      24924.50
901          901      2    A           1  2010-02-05      35034.06
1798        1798      4    A           1  2010-02-05      38724.42
2699        2699      6    A           1  2010-02-05      25619.00
3593        3593     10    B           1  2010-02-05      40212.84
4495        4495     13    A           1  2010-02-05      46761.90
5408        5408     14    A           1  2010-02-05      32842.31
6293        6293     19    A           1  2010-02-05      21500.58
7199        7199     20    A           1  2010-02-05      46021.21
8109        8109     27    A           1  2010-02-05      32313.79
9009        9009     31    A           1  2010-02-05      18187.71
9899        9899     39    A           1  2010-02-05      21244.50

      is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
0          False       5.727778              0.679451         8.106
901        False       4.550000              0.679451         8.324
1798       False       6.533333              0.686319         8.623
2699       False       4.683333              0.679451         7.259
3593       False      12.411111              0.782478         9.765
4495       False      -0.261111              0.704283         8.316
5408       False      -2.605556              0.735455         8.992
6293       False      -6.133333              0.780365         8.350
7199       False      -3.377778              0.735455         8.187
8109       False      -2.672222              0.780365         8.237
9009       False       3.916667              0.679451         8.324
9899       False       6.833333              0.679451         8.554

In [67]:
store_props = store_types['temperature_c'].value_counts(normalize=True)
print(store_props)

 6.833333     0.083333
-6.133333     0.083333
 5.727778     0.083333
-3.377778     0.083333
 4.550000     0.083333
 12.411111    0.083333
 3.916667     0.083333
-2.672222     0.083333
-0.261111     0.083333
-2.605556     0.083333
 4.683333     0.083333
 6.533333     0.083333
Name: temperature_c, dtype: float64

In [73]:
dept_counts_sorted = store_depts['department'].value_counts(sort=True)
print(dept_counts_sorted)

41    12
30    12
23    12
24    12
25    12
      ..
37    10
48     8
50     6
39     4
43     2
Name: department, Length: 80, dtype: int64

In [81]:
sales['type'].value_counts()

A    9872
B     902
Name: type, dtype: int64

In [72]:
dept_props_sorted = store_depts['department'].value_counts(sort=True,normalize=True)
print(dept_props_sorted)

41    0.012917
30    0.012917
23    0.012917
24    0.012917
25    0.012917
        ...
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: department, Length: 80, dtype: float64

In [84]:
sales_all = sales['weekly_sales'].sum()

sales_A = sales[sales['type'] == 'A']['weekly_sales'].sum()

sales_B = sales[sales['type'] == 'B']['weekly_sales'].sum()

#If a type doesnt exist then 
sales_propn_by_type = [sales_A,sales_B]/sales_all
print(sales_propn_by_type)

[0.9097747 0.0902253]

In [91]:
sales_by_type = sales.groupby("type")["weekly_sales"].sum() #groupby categorizes columns for knowing other columns
sales_by_type_is_holiday = sales.groupby(['type','is_holiday'])['weekly_sales'].sum() 
print(sales_by_type_is_holiday)

type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

In [92]:
sales_stats = sales.groupby('type')['weekly_sales'].agg([min,max,np.mean,np.median])
unemp_fuel_stats = sales.groupby('type')[['unemployment','fuel_price_usd_per_l']].agg([min,max,np.mean,np.median])
print(unemp_fuel_stats)

     unemployment                         fuel_price_usd_per_l            \
              min    max      mean median                  min       max
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348

In [93]:
mean_sales_by_type = sales.pivot_table(values='weekly_sales', index='type') #gives mean of data of values by index

print(mean_sales_by_type)

      weekly_sales
type
A     23674.667242
B     25696.678370

In [96]:
mean_med_sales_by_type = sales.pivot_table(values='weekly_sales', index='type', aggfunc=([np.mean,np.median]))

print(mean_med_sales_by_type)

              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08

In [97]:
mean_sales_by_type_holiday = sales.pivot_table(values='weekly_sales', index='type', columns='is_holiday')
print(mean_sales_by_type_holiday)

is_holiday         False      True
type
A           23768.583523  590.04525
B           25751.980533  810.70500

In [98]:
print(sales.pivot_tables(values='weekly_sales', fill_values=0, index='type', columns='is_holiday'))

AttributeError: 'DataFrame' object has no attribute 'pivot_tables'

In [99]:
# colab.research.google.com use it in place of computer