In [3]:
2 + 3
3 + 5

8

In [4]:
print(2+3)
print(3+5)

5
8

In [5]:
apple = 200
cherry = 400
total = cherry + apple
print (total)

600

In [6]:
name = 'adnan'
print (name)

adnan

In [7]:
height = 5.9
weight = 55.75
print (weight + height)

61.65

In [13]:
decision1 = True
decision2 = False

result = decision1 + decision2

print (result)

1

In [14]:
type ( weight)

float

In [16]:
a = 4
b = 2

print (a + b)
print (a - b)
print (a / b)
print (a * b)
print (a ** b)
print (a % b)

6
2
2.0
8
16
0

In [20]:
c ='apple'
d = 'mango'

e = c * 3
print (e)

appleappleapple

In [22]:
z=2.0
x = 4

In [23]:
print (z*x)

8.0

In [24]:
int (a)

4

In [25]:
float (a)

4.0

In [26]:
bool (a)

True

In [31]:
e='fasse'
len(e)

5

In [32]:
new1 = [11,22,33,44,55,66,77,88,99]
print (new1)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [33]:
type (new1)

list

In [36]:
print (new1[0])

11

In [37]:
new1[0:4]

[11, 22, 33, 44]

In [39]:
new1 [4:]

[55, 66, 77, 88, 99]

In [49]:
new1 [1::2] #even

[22, 44, 66, 88]

In [50]:
new1 [::2] #odd

[11, 33, 55, 77, 99]

In [51]:
new1 [::3]

[11, 44, 77]

In [52]:
type (new1 [1])

int

In [53]:
new2 = [[6,9,10,1],['ahmed','sara','bilal','humza']]
print(new2)

[[6, 9, 10, 1], ['ahmed', 'sara', 'bilal', 'humza']]

In [54]:
len(new2)

2

In [58]:
new2 [1]

['ahmed', 'sara', 'bilal', 'humza']

In [63]:
new2[1][1]

'sara'

In [64]:
q = [2,4,6,8,11,12,14] #table of 2
print (q)

[2, 4, 6, 8, 11, 12, 14]

In [65]:
q [4]

11

In [68]:
q [4] = 10

In [69]:
q

[2, 4, 6, 8, 10, 12, 14]

In [72]:
q = q + [16, 18]

In [73]:
len (q)

9

In [78]:
q = q + [5]

In [79]:
del (q[-1])