In [2]:
# Date:   16 Nov 2020
# Advance Python
# Sir Enayat
# NAVTTC Lecture 3.1
# NED University of Engineering and Technology

In [6]:
def abc():
    xyz = 'hello' + '!!!'
    print(xyz)
abc()
#'hello!!!'  #  o/p type: string

hello!!!

In [7]:
def abc(var):
    xyz = var + '!!!'
    print(xyz)
abc('world')

world!!!

In [9]:
def abc(var):
    x = var + '!!!'
    return(x)
y = abc('ned')
print(y)
type(y)

ned!!!

str

In [15]:
def abc(v1, v2):
    x = v1 + '$$$'
    y = v2 + '!!!'
    o = x+y
    return(o)
z = abc('ned','uet')
print(z)

ned$$$uet!!!

In [17]:
def abc(v1, v2):
    x = v1 + '$$$'
    y = v2 + '!!!'
    o = [x,y]    #Multiple values return using list
    return(o)
z1, z2 = abc('ned','uet')
print(z1)
print(z2)

ned$$$
uet!!!

In [20]:
def abc(v1, v2):
    x = v1 + '$$$'
    y = v2 + '!!!'
    o = [x,y]    #Multiple values return using list
    return(o)
z = abc('ned','uet')
print(z)
type(z)
type(z[0])

['ned$$$', 'uet!!!']

str

In [24]:
def abc(v1, v2):
    x = v1 + "$$$"
    y = v2 + '!!!'
    o = (x,y) #Multiple values return using tuple
    return(o)
z1, z2 = abc('ned','uet')
print(z1)
print(z2)


type(z1)
type(z2)
type(z)

ned$$$
uet!!!

list

In [26]:
var1 = [1, 'apple',3.142,True]   # type list
print(var1)
print(type(var1))

print(' ')

var2 = (11,22,33)    # type tuple
print(var2)
print(type(var2))

[1, 'apple', 3.142, True]
<class 'list'>

(11, 22, 33)
<class 'tuple'>

In [27]:
var1

[1, 'apple', 3.142, True]

In [28]:
var2

(11, 22, 33)

In [29]:
var1[0]

1

In [30]:
var1[-1]

True

In [31]:
var2[-1]

33

In [32]:
var1[:2]

[1, 'apple']

In [33]:
var2[0:2]

(11, 22)

In [34]:
var1[0]

1

In [35]:
var1[0] = 100

In [36]:
var1

[100, 'apple', 3.142, True]

In [37]:
var2[0]

11

In [39]:
var2[0] = 111 #Cannot assign value to tuple

TypeError: 'tuple' object does not support item assignment

In [40]:
var2

(11, 22, 33)

In [41]:
[a,b,c] = var2

In [42]:
a

11

In [43]:
b

22

In [45]:
c

33

In [46]:
z = [a,b,c]

In [47]:
z

[11, 22, 33]

In [49]:
def abc(v1, v2, v3):
    def xyz(v):          #nested func
        return(v+'$$$')
    o = [xyz(v1), xyz(v2),xyz(v3)]
    return(o)
y= abc('p','q','r')
print(y)
type(y)

['p$$$', 'q$$$', 'r$$$']

list

In [50]:
def abc(var, echo=1):
    v = var*echo
    v = v + '$$$'
    return(v)
y = abc('world')
yy = abc('world',3)
print(y)
print(yy)

world$$$
worldworldworld$$$

In [51]:
def abc(var, e=2):
    v = var*e
    v = v + '$$$'
    return(v)
y = abc('world')
yy = abc('world',3)
print(y)
print(yy)

worldworld$$$
worldworldworld$$$

In [55]:
abc = lambda x: x+'!!!'
abc('hello')

type(abc('hello'))

#type(abc)

str

In [64]:
abc = lambda x, echo: x*echo
abc('hello' , 3)
# []
#type(abc)

'hellohellohello'

In [ ]:
abc = lambda x,y, echo: x*echo,y*echo
abc('hello','shoaib' , 3)
# []
#type(abc)

In [67]:
#Map function
n = [1,2,3]
m = map(lambda num: num**2, n) # map(func, elem) #map() return obj
print(list(m))

#print(m)  wrong [x]

[1, 4, 9]

In [68]:
n = [1,2,3]
m = map(lambda num: num**2,n)
#   map(func, elem)     # map() returns object,
#  so it is must to use list() command after using map() 
print(list(m))

[1, 4, 9]