In [6]:
import pandas as pd

In [14]:
data2 = pd.Series([0.25,0.5, 0.75,1.0])

In [15]:
data2

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [16]:
data = pd.Series([0.25,0.5, 0.75,1.0],
       index=['a','b','c','d'])

In [17]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [27]:
population_dict = {'California': 545435,
                  'Texas': 435435435,
                  'New York': 134543535,
                  'Florida':546546,
                  'Illinois': 234234,
                  'Pakistan':345435}

population = pd.Series(population_dict)
population

California       545435
Texas         435435435
New York      134543535
Florida          546546
Illinois         234234
Pakistan         345435
dtype: int64

In [39]:
population['California':'Illinois']

California       545435
Texas         435435435
New York      134543535
Florida          546546
Illinois         234234
dtype: int64

In [20]:
pd.Series(S, index=[100,200,300])

NameError: name 'S' is not defined

In [29]:
area_dict = {'California':44364, 'Texas': 456546, 'New York':435345, 'Florida': 34534, 'Illinois':23423425,'India':435435} 
area = pd.Series(area_dict)
area

California       44364
Texas           456546
New York        435345
Florida          34534
Illinois      23423425
India           435435
dtype: int64

In [31]:
states = pd.DataFrame({'population': population,
                    'area':area})
states

             population        area
California     545435.0     44364.0
Florida        546546.0     34534.0
Illinois       234234.0  23423425.0
India               NaN    435435.0
New York    134543535.0    435345.0
Pakistan       345435.0         NaN
Texas       435435435.0    456546.0

In [32]:
states['area']

California       44364.0
Florida          34534.0
Illinois      23423425.0
India           435435.0
New York        435345.0
Pakistan             NaN
Texas           456546.0
Name: area, dtype: float64

In [36]:
states[['area','population']]

                  area   population
California     44364.0     545435.0
Florida        34534.0     546546.0
Illinois    23423425.0     234234.0
India         435435.0          NaN
New York      435345.0  134543535.0
Pakistan           NaN     345435.0
Texas         456546.0  435435435.0

In [37]:
states['California':'Florida']

            population     area
California    545435.0  44364.0
Florida       546546.0  34534.0

In [44]:
states['area']['California']

44364.0

In [40]:
states['area']

California       44364.0
Florida          34534.0
Illinois      23423425.0
India           435435.0
New York        435345.0
Pakistan             NaN
Texas           456546.0
Name: area, dtype: float64

In [45]:
states['area'][['India','Pakistan']]

India       435435.0
Pakistan         NaN
Name: area, dtype: float64

In [46]:
states['area'][['California','Florida']]

California    44364.0
Florida       34534.0
Name: area, dtype: float64

In [48]:
states[['area','population']][['California','Florida']]

KeyError: "None of [Index(['California', 'Florida'], dtype='object')] are in the [columns]"

In [49]:
states['area']['California':'Florida']

California    44364.0
Florida       34534.0
Name: area, dtype: float64

In [50]:
import numpy as np
pd.DataFrame(np.random.rand(3,2),
            columns = ['foo','bar'],
            index= ['a','b','c'])

        foo       bar
a  0.535281  0.813779
b  0.580998  0.786014
c  0.883445  0.252578

In [ ]:
pd.DataFrame(np.random.rand(3,2),
            columns=['foo','bar']
            )

In [51]:
A = np.zeros(3, dtype= [('A','i8'),('B','f8')])

In [52]:
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [53]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [54]:
data = pd.Series(['a','b'])