In [19]:
# https://www.javatpoint.com/
# pip install mysql-connector-python
# https://github.com/krishnaik06/MySQL-With-Python/blob/master/Tutorial%203-%20Creating%20Tables%20And%20Inserting%20Records.ipynb

In [1]:
import mysql.connector as sql

In [9]:
my_db = sql.connect(
    host = "localhost",
    user = "root",
    password = "root_ROOT123"
)

In [10]:
mycursor = my_db.cursor()

In [11]:
mycursor.execute("SHOW DATABASES")

In [12]:
for databases in mycursor:
    print(databases)

('db_mursaleenhassan',)
('farrukh',)
('ghufran',)
('hpcc',)
('information_schema',)
('main_pro',)
('mysql',)
('ncbc',)
('performance_schema',)
('products',)
('products1',)
('recordsofstudents',)
('teacher',)

In [13]:
mycursor.execute("USE ghufran")

In [14]:
mycursor.execute("SHOW Tables")
for tables in mycursor:
    print(tables)

('student',)

In [15]:
mycursor.execute("SELECT * FROM student")
for rows in mycursor:
    print(rows)

(12, 'sharib', 2, None)
(11, 'fariyal', 3, None)
(10, 'NimraAhmed', 4, None)
(9, 'Anas', 5, None)
(8, 'shary', 6, None)
(7, 'hashir', 7, None)

In [17]:
mycursor.execute("CREATE TABLE ali(id int(11), name varchar(255), course varchar(255))")

In [18]:
mycursor.execute("INSERT INTO ali(id, name, course) VALUES(1,'askari','physics')")

In [20]:
mycursor.execute("SELECT * FROM ali")
for rows in mycursor:
    print(rows)

(1, 'askari', 'physics')