In [1]:
# Date:   17 Nov 2020
# Advance Python
# Sir Enayat
# NAVTTC Lecture 3.2
# NED University of Engineering and Technology

In [1]:
abc = lambda x: x+'!!!'
abc('hello')

'hello!!!'

In [2]:
abc = lambda x, echo: x*echo
abc('hello',3)

'hellohellohello'

In [5]:
n = [1,2,3]
m = map(lambda num: num**2,n)

# map(func,elem) 
# map() return obj, so it is must to use list()
#command after using map()
print(list(m))    
type(m)

[1, 4, 9]

map

In [6]:
n1 = [1,2,3]
n2 = [11,22,33]
m = map(lambda num1, num2: num1**2 + num**2, n1,n2)


print(list(a1))

NameError: name 'a1' is not defined

In [8]:
n = ['apple' , 'mango', 'cherry']
m = map(lambda num: num+'!!!' ,n)

# map(func, elem)
# map() returns object,
# so it is must to use list() command after using map()

print(list(m))

['apple!!!', 'mango!!!', 'cherry!!!']

In [9]:
n = ['apple' , 'mango', 'cherry']
m = filter(lambda num: len(num)>5, n)
# filter(func, elem)
# filter() returns object, so it is must to use list()
# command after using filter()
print(list(m))

['cherry']

In [10]:
from functools import reduce
n = ['apple' , 'mango','cherry']
m = reduce(lambda num1, num2: num1 + num2, n) 

#reduce(func, elem)
#reduce() does not return object,
# so it is not required to use list() after using reduce()

print(m)

applemangocherry

In [11]:
from functools import reduce
n = ['1' , '2','5']
m = reduce(lambda num1, num2: num1 + num2, n) 

#reduce(func, elem)
#reduce() does not return object,
# so it is not required to use list() after using reduce()

print(m)

125

In [12]:
from functools import reduce
n = [1 , 2,5]
m = reduce(lambda num1, num2: num1 + num2, n) 

#reduce(func, elem)
#reduce() does not return object,
# so it is not required to use list() after using reduce()

print(m)

8

In [20]:
def abc(var, echo=1):
    try:
        varr  = var*echo
        varr = varr+'$$$'
    except:
        print('echo must be an integer')
    return(varr)
abc('hello',echo='apple')

echo must be an integer

UnboundLocalError: local variable 'varr' referenced before assignment

In [19]:
def abc(var, echo=1):
    try:
        varr  = var*echo
        varr = varr+'$$$'
    except:
        print('echo must be an integer')
    return(varr)
abc('hello',echo=3)

'hellohellohello$$$'

In [21]:
#Iterative and Iterators

sports = ['cricket', 'hockey','basketball','tennis']
for a in sports:    #Printing each element using loop
    print(a)

cricket
hockey
basketball
tennis

In [28]:
sports = ['cricket','hockey','basketball','tennis']
z = iter(sports) #printing each elements using iter
type(z)
print(z)
next(z)
#next(z)
#next(z)
#next(z)
# iterable: sports (itself list is an iterable)
# iterator: z

<list_iterator object at 0x000001982225CA60>

'cricket'

In [30]:
sports = ['cricket','hockey','basketball','tennis']
z = iter(sports) #printing each elements using iter
print(next(z))
print(next(z))
print(next(z))
print(next(z))

#iterable: sports (itself list is an iterable)
#iterator: z

cricket
hockey
basketball
tennis

In [36]:
a = iter(range(3))
print(next(a))
print(next(a))
print(next(a))

0
1
2

In [35]:
for num in range(3):
    print(num)

0
1
2

In [38]:
sports = ['cricket','hockey','basketball','tennis']
z = list(enumerate(sports))

# enumerate gives us a sequence of tuples
# (each tuple is a index-value) where index is default starting from 0.
# must use list() with enumerate()
# z is a list of tupes

print(z)

[(0, 'cricket'), (1, 'hockey'), (2, 'basketball'), (3, 'tennis')]

In [40]:
for index,value in enumerate(sports):
    print(index,value)

0 cricket
1 hockey
2 basketball
3 tennis

In [43]:
sports = ['cricket','hockey','basketball','tennis']
player = ['watson','jahangir','michaeljordan','rogerfederer']
country = ['aus','pak','afr','usa']

z = list(zip(sports,player,country))

# zip(0 gives us a sequence of tuples
# must use list() with zip()
# z is a list of tuples

print(z)

[('cricket', 'watson', 'aus'), ('hockey', 'jahangir', 'pak'), ('basketball', 'michaeljordan', 'afr')]

In [44]:
sports = ['cricket','hockey','basketball','tennis']
player = ['watson','jahangir','michaeljordan','rogerfederer']
country = ['aus','pak','afr','usa']

z = list(zip(sports,player,country))

# zip(0 gives us a sequence of tuples
# must use list() with zip()
# z is a list of tuples

print(z)

[('cricket', 'watson', 'aus'), ('hockey', 'jahangir', 'pak'), ('basketball', 'michaeljordan', 'afr'), ('tennis', 'rogerfederer', 'usa')]

In [53]:
sports = ['cricket','hockey','basketball','tennis']
player = ['watson','jahangir','michaeljordan','rogerfederer']
country = ['aus','pak','afr','usa']

z = zip(sports, player,country)  #zip() gives us a sequence of typles S

# z is a list of tples
#print(type(z))  # zip is a type
#print(list(z))

print(*z)   #unzipping the zipped variable and showing/displaying the unzipped contents

#print(list(z))

t = zip(sports, player, country)  # again zipping contents into a variable
sp, pl, co = zip(*t) # unzipping the zipped variable and storing contents
print(' ')
print(sp)
print(pl)
print(co)

# unzipping the zipped variable and storing contents into ariables

#Zip commands generate tuples

('cricket', 'watson', 'aus') ('hockey', 'jahangir', 'pak') ('basketball', 'michaeljordan', 'afr') ('tennis', 'rogerfederer', 'usa')

('cricket', 'hockey', 'basketball', 'tennis')
('watson', 'jahangir', 'michaeljordan', 'rogerfederer')
('aus', 'pak', 'afr', 'usa')

## List Comprehensions

In [1]:
sports = ['cricket','hockey','basketball','tennis']
[docx[0] for docx in sports]
#whole statement is written inside "[]" thats why it is called "list comprehension"

['c', 'h', 'b', 't']

In [2]:
abc = [i ** 2 for i in range(5)]
#whole statement is written inside "[]" thats why it is called "list comprehension"
print(abc)

[0, 1, 4, 9, 16]

In [5]:
sports = ['cricket','hockey','basketball','tennis']
a = [elem for elem in sports if len(elem) <=6]
#whole statement is written inside "[]" thats why it is called "list comprehension"
print(a)

['hockey', 'tennis']

In [6]:
sports = ['cricket','hockey','basketball','tennis']
new_sports = [elem if len(elem)<=6 else elem.replace(elem,'abc') for elem in sports]
#whole statement is written inside "[]" thats why it is called "list comprehension"
print(new_sports)

['abc', 'hockey', 'abc', 'tennis']

In [7]:
#List of list

sports = ['cricket','hockey','basketball','tennis']
new_sports = [[elem, len(elem)] for elem in sports]
#whole statement is written inside "[]" thats why it is called "list comprehension"
print(new_sports)

[['cricket', 7], ['hockey', 6], ['basketball', 10], ['tennis', 6]]

In [8]:
#List of Tuple

sports = ['cricket','hockey','basketball','tennis']
new_sports = [(elem, len(elem)) for elem in sports]
#whole statement is written inside "[]" thats why it is called "list comprehension"
print(new_sports)

[('cricket', 7), ('hockey', 6), ('basketball', 10), ('tennis', 6)]