In [1]:
import pandas as pd
sales = pd.read_csv('sales_subset.csv')

In [2]:
print(sales.head())

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

In [3]:
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB
None

In [5]:
print(sales[['weekly_sales','temperature_c']].mean())

weekly_sales     23843.950149
temperature_c       15.731978
dtype: float64

In [6]:
print(sales['weekly_sales'].median())

12049.064999999999

In [9]:
print(sales['date'].max())

print(sales['date'].min())

2012-10-26
2010-02-05

In [11]:
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

print(sales['temperature_c'].agg(iqr))

16.58333333333334

In [13]:
print(sales[["temperature_c",'fuel_price_usd_per_l','unemployment']].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [14]:
import numpy as np
print(sales[["temperature_c",'fuel_price_usd_per_l','unemployment']].agg([iqr,np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

In [15]:
store_types = sales.drop_duplicates(subset=['store','type'])
print(store_types.head())

      Unnamed: 0  store type  department        date  weekly_sales  \
0              0      1    A           1  2010-02-05      24924.50
901          901      2    A           1  2010-02-05      35034.06
1798        1798      4    A           1  2010-02-05      38724.42
2699        2699      6    A           1  2010-02-05      25619.00
3593        3593     10    B           1  2010-02-05      40212.84

      is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
0          False       5.727778              0.679451         8.106
901        False       4.550000              0.679451         8.324
1798       False       6.533333              0.686319         8.623
2699       False       4.683333              0.679451         7.259
3593       False      12.411111              0.782478         9.765

In [17]:
store_depts = sales.drop_duplicates(subset=['store','department'])
print(store_depts.head())

    Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0            0      1    A           1  2010-02-05      24924.50       False
12          12      1    A           2  2010-02-05      50605.27       False
24          24      1    A           3  2010-02-05      13740.12       False
36          36      1    A           4  2010-02-05      39954.04       False
48          48      1    A           5  2010-02-05      32229.38       False

    temperature_c  fuel_price_usd_per_l  unemployment
0        5.727778              0.679451         8.106
12       5.727778              0.679451         8.106
24       5.727778              0.679451         8.106
36       5.727778              0.679451         8.106
48       5.727778              0.679451         8.106

In [18]:
holiday_dates = sales[sales['is_holiday']].drop_duplicates(subset='date')

print(holiday_dates['date'])

498     2010-09-10
691     2011-11-25
2315    2010-02-12
6735    2012-09-07
6810    2010-12-31
6815    2012-02-10
6820    2011-09-09
Name: date, dtype: object

In [21]:
print(sales['date'].value_counts())

2010-02-05    869
2010-03-05    867
2010-04-02    865
2010-12-03    859
2010-05-07    859
             ...
2011-03-18      1
2012-03-30      1
2012-03-16      1
2011-07-22      1
2011-03-25      1
Name: date, Length: 123, dtype: int64

In [22]:
store_counts = store_types['type'].value_counts()
print(store_counts)

A    11
B     1
Name: type, dtype: int64

In [23]:
store_props = store_types['type'].value_counts(normalize=True)
print(store_counts)

A    11
B     1
Name: type, dtype: int64

In [30]:
holiday_dates = sales[sales['temperature_c']>10].drop_duplicates(subset='date')

print(holiday_dates['date'])

2        2010-04-02
3        2010-05-07
4        2010-06-04
5        2010-07-02
6        2010-08-06
            ...
10111    2011-03-11
10112    2011-04-08
10408    2012-06-22
10431    2010-12-10
10515    2012-01-06
Name: date, Length: 109, dtype: object

In [31]:
dept_counts_sorted = store_depts['department'].value_counts(sort=True)
print(dept_counts_sorted)

41    12
30    12
23    12
24    12
25    12
      ..
37    10
48     8
50     6
39     4
43     2
Name: department, Length: 80, dtype: int64

In [34]:
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

41    0.012917
30    0.012917
23    0.012917
24    0.012917
25    0.012917
        ...
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: department, Length: 80, dtype: float64

In [38]:
store_props = store_types['temperature_c'].value_counts(normalize=True)
print(store_props)

 6.833333     0.083333
-6.133333     0.083333
 5.727778     0.083333
-3.377778     0.083333
 4.550000     0.083333
 12.411111    0.083333
 3.916667     0.083333
-2.672222     0.083333
-0.261111     0.083333
-2.605556     0.083333
 4.683333     0.083333
 6.533333     0.083333
Name: temperature_c, dtype: float64

In [40]:
sales_all = sales['weekly_sales'].sum()

sales_A = sales[sales["type"] == "A"]['weekly_sales'].sum()
sales_B = sales[sales['type'] == 'B']['weekly_sales'].sum()
sales_C = sales[sales['type'] == 'C']['weekly_sales'].sum()

sales_propon_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propon_by_type)

[0.9097747 0.0902253 0.       ]

In [41]:
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

In [44]:
sales_by_type_is_holiday = sales.groupby(['type','is_holiday'])['weekly_sales'].sum()
print(sales_by_type_is_holiday)
print(sales_by_type_is_holiday)

type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64
type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

In [47]:
sales_stats = sales.groupby('type')['weekly_sales'].agg([min,max,np.mean,np.median])

print(sales_stats)

         min        max          mean    median
type
A    -1098.0  293966.05  23674.667242  11943.92
B     -798.0  232558.51  25696.678370  13336.08

In [52]:
unemp_fuel_stats = sales.groupby('type')[['unemployment','fuel_price_usd_per_l']].agg([min,max,np.mean, np.median])

print(unemp_fuel_stats)

     unemployment                         fuel_price_usd_per_l            \
              min    max      mean median                  min       max
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348

In [54]:
umemploy_state = sales.groupby("type")[['fuel_price_usd_per_l','unemployment']].agg([min ,max , np.mean , np.median])
umemploy_state

     fuel_price_usd_per_l                               unemployment         \
                      min       max      mean    median          min    max
type
A                0.664129  1.107410  0.744619  0.735455        3.879  8.992
B                0.760023  1.107674  0.805858  0.803348        7.170  9.765


          mean median
type
A     7.972611  8.067
B     9.279323  9.199

In [55]:
print(umemploy_state)

     fuel_price_usd_per_l                               unemployment         \
                      min       max      mean    median          min    max
type
A                0.664129  1.107410  0.744619  0.735455        3.879  8.992
B                0.760023  1.107674  0.805858  0.803348        7.170  9.765


          mean median
type
A     7.972611  8.067
B     9.279323  9.199

In [56]:
mean_sales_by_type = sales.pivot_table(values="weekly_sales",index= 'type')
print(mean_sales_by_type)

      weekly_sales
type
A     23674.667242
B     25696.678370

In [58]:
mean_med_sales_by_type = sales.pivot_table(values='weekly_sales',index='type',aggfunc=[np.mean,np.median])
print(mean_med_sales_by_type)

              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08

In [59]:
means_sales_by_type_holiday = sales.pivot_table(values='weekly_sales',index='type',columns='is_holiday')
print(means_sales_by_type_holiday)

is_holiday         False      True
type
A           23768.583523  590.04525
B           25751.980533  810.70500

In [60]:
print(sales.pivot_table(values='weekly_sales',index='department',columns='type',fill_value))

SyntaxError: positional argument follows keyword argument (<ipython-input-60-0f00805c6dd9>, line 1)

In [ ]:
print(sales.pivot_table(values='weekly_sales', index = 'department'))