In [21]:
from sklearn import linear_model, metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [22]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv('Admission_Predict.csv')

In [28]:
x = df.iloc[:,1:-1]
y = df['Chance of Admit ']

In [29]:
x

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [30]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [31]:
x_train, x_test, y_train, y_test = \
train_test_split(x,y,test_size=0.2, random_state=1) # 0 (splitting)

In [32]:
reg1 = LinearRegression();  # 1  (calling model)
reg1.fit(x_train, y_train); # 2 (training model)

In [33]:
reg1.coef_ # 3 (slope)

array([ 0.00151123,  0.00314554,  0.00824371, -0.00564734,  0.02172334,
        0.11532606,  0.02610078])

In [34]:
reg1.intercept_ # 4 (intercept)

-1.177223214222309

In [35]:
y_pred = reg1.predict(x_test) # 5 (predicted o/p)

In [36]:
reg1.score(x_test,y_test) # 6 (accuracy)

0.80790436770201